/*settings*/

/*page*/
@import "./page/playable.css";
/*componenet*/
@import "./component/youtube-locate.css";
@import "./component/character.css";
@import "./component/note_data.css";

body {

    height: 90vh;
    width: 100%;
    
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    */

}

